[

 {sasl, [
    {sasl_error_logger, {file, "sasl_err.log"}}
 ]},

 {rubato, [
    {lib_patterns, ["/media/everything/music/*/*/*"]}
 ]},

 {evo, [
    {sites, [
        [{name, rubato},
         {port, 1357},

         {couchdb, {{"192.168.1.5", 5984}, "rubato"}},

         {default, "/home"},

         {always, [
            {evosession, []}
         ]},
   
         {components, [
            {"home", {evodefault, ["templates/home.html", "Home"]}},
            {"playlist", {evo_rubato_playlist, []}},
            {"static", {evostatic, ["static"]}},
            {"session", {evosession, []}},
            {"nav", {evonav, []}}
         ]},

         {templates, [
            {site, {"text/html", reload, "templates/site.html"}}
         ]}
        ]
    ]}
 ]}

].