.listContainer {
  width: 400px;
  height: 550px;
  overflow: auto;
  border: 1px solid rgb(255, 186, 20);
  padding: 10px;
  margin: 10px;
  color: white;
}

.folder, .album {
  border: 1px solid black;
  padding: 5px;
  color: #666;
  font-size: 11px;
  cursor: pointer;
  display: none;
}

.folder {
  background-color: rgb(255, 255, 200);
  margin: 5px 0;
}

.folder .artist {
  font-size: 16px;
  font-weight: bold;
  color: black;
}


.album {
  background-color: rgb(255, 186, 20);
  margin: 5px 0 5px 10px;
}

.album .albumName {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.song {
  background-color: rgb(219, 58, 15);
  margin: 5px 0 5px 20px;
  padding: 3px;
  cursor: pointer;
}

.song .songName {
  font-size: 12px;
  font-weight: bold;
  color: black;
}