#boxesTable {
  border-collapse: separate;
  border-spacing: 20px;
}

.listContainer {
  border: 1px solid rgb(255, 186, 20);
  color: white;
  padding: 10px;
}

#library {
  float: left;
  margin: 0 20px 0 10px;
  width: 400px;
  height: 550px; 
  overflow: auto;
}

#playlist {
  width: 200px;
  height: 550px; 
  overflow: auto;
  vertical-align: top;
}

.folder, .album {
  border: 1px solid black;
  padding: 5px;
  color: #666;
  font-size: 11px;
  cursor: pointer;
}

.folder {
  background-color: rgb(255, 255, 200);
  margin: 5px 0;
}

.folder .artist {
  font-size: 16px;
  font-weight: bold;
  color: black;
}


.album {
  background-color: rgb(255, 186, 20);
  margin: 5px 0 5px 10px;
}

.album .albumName {
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.song {
  background-color: rgb(219, 58, 15);
  margin: 5px 0 5px 20px;
  padding: 3px;
  cursor: pointer;
}

.song .songTrack {
  color: white;
  font-size: 12px;
}

.song .songName {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.song .editButton {
  color: #ff0;
  font-size: 11px;
}

.song .editButton:hover {
  color: white;
}


.entry {
  margin: 5px;
  padding: 5px;
  width: 180px;
  background-color: rgb(255, 255, 200);
  color: black;
  cursor: pointer;
}

.entry .artist {
  font-size: 12px;
  text-align: center;
  margin-bottom: 3px;
}

.entry .title {
  font-size: 13px;
  font-weight: bold;
}


#songEdit {
  display: none;
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 10;
  border: 1px solid rgb(255, 240, 62);
  background-color: rgb(161, 0, 61);
  padding: 10px;
}

#songEdit th {
  font-weight: normal;
  text-align: right;
  padding-right: 5px;
  padding-bottom: 10px;
}

#songEdit input[type="text"] {
  border: 1px solid rgb(255, 186, 20);
  background-color: #eee;
}

#songEdit input[type="button"] {
  width: 70px;
}

#songEdit input[type="button"].cancel {
  color: #999;
}
