<div>

  <link rel="stylesheet" href="/static/playlist.css" type="text/css"></link>
  <script src="/static/playlist.js"></script>

  <script type="text/javascript">
  $(document).ready(playlist_setup);
  </script>

  <div class="listContainer" id="library">
    Loading...
  </div>
  
  <div class="folder" id="folderTemplate">
    [+] <span class="artist" j:slot="artist"></span> (<span j:slot="total"></span>)
  </div>

  <div class="album" id="albumTemplate">
    [+] <span class="albumName" j:slot="album"></span> (<span j:slot="total"></span>)
  </div>

  <div class="song" id="songTemplate">
    <span j:slot="track"></span> - <span class="songName" j:slot="name"></span>
  </div>

</div>

